*{
    font-family: monospace, sans-serif;
    margin:0px ;
    padding: 0px;   
}
a{
    all: unset;
}
.nav-links{
    list-style: none;
    color: #1b646fa9;
    display: flex;
    gap: 30px;
    margin-right: 40px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    background-color: bisque;
    justify-content: space-between;
    padding: 0px 200px;
    /* margin: 10px; */
    box-shadow: 5px 5px 20px gray; 
    font-size: 35px;
}
.section{
    text-align: center;
    margin: 200px 400px;
}
h2{
    background-color: black;
    color: white;
    margin: 50px;
    padding: 60px;
    border-radius: 6px;
}
.btn{
    border: none;
    padding: 25px;
    margin: 20px;
    border-radius: 4px;
    font-size: 20px;
}

.btn-1{
    background-color: #398598;
    color: white;
}
p{
    display: inline;
}
